.container
  .col-xs-12
    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Phone
          %th Email
          %th Status
          %th Update 
          %th Position
          %th Delete
      %tbody
        - if @people == nil
        - else
          - @people.each do |person|
            %tr
              %td= link_to person.name, person
              %td= person.phone
              %td= person.email
              %td
                - if person.user_id == nil
                  Created
                - else
                  - if @users.find(person.user_id.to_i).invitation_accepted_at == nil
                    = person.status
                  - else
                    Registered
              %td= link_to 'Edit', edit_person_path(person)
              %td= person.position
              %td= link_to "Remove", person_path(person), :data => { :confirm => "Are you sure?" }, :method => :delete
  .col-xs-12
    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Email
          %th Update 
          %th Delete
      %tbody
        - if @users == nil
        - else
          - @users.each do |user|
            %tr
              %td= link_to user.name, user
              %td= user.email
              %td= link_to 'Edit', edit_user_path(user)
              %td= link_to "Remove", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete