.container
  .col-xs-12
    %h3 Add a New Person
    = simple_form_for :person, :html => {:multipart => true}, :url => people_path do |f|
      %br
      = f.input :name, :label => 'Name', :placeholder => 'Name', :autofocus => true
      %br
      = f.input :phone, :label => 'Phone', :placeholder => 'Phone Number'
      %br
      = f.input :email, :label => 'Email', :placeholder => 'Email'
      %br
      = f.input :position, :label => 'Position', :placeholder => 'Position'
      %br
      = f.button :submit, 'Add Person', :class => 'btn-primary'
    = link_to "Back", :back, :class => "pull-left"
    %br
    %br
    %br